{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Nouvelle annonce</h1>
        <h3>Veuillez vous connecter pour publier une annonce</h3>
        <a class="btn btn-primary btn-lg" href="/register" role="button">S'inscrire</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Se connecter</a>
    </div>
{% endblock %}