{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Annonce publiée! ✅</h1>
        <a class="btn btn-primary btn-lg" href="/announcement/" role="button">Retour sur les annonces</a>
    </div>

{% endblock %}
