{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur LeBonCouac!</h1>
            <p class="lead">Ce site sert comme d'un simple entraînement pour m'initier au php et du framework Symphony, que je vais souvent utiliser durant mon stage.</p>
            <hr class="my-4">
            <p>Oueoue tu peux appuyer sur le boutton d'en dessous</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
        </div>
    </div>

{% endblock %}